/*navegador*/
.contenedor-nav {
    padding: 4px;
    background-color: rgb(167, 0, 0);

}
.contenedor-nav h1{
    
    font-family: 'Kaushan Script', cursive;
    color: #111;
    text-shadow: 0 0px 15px #fff;
    font-size: 30px;
    text-align: center;
}

.menu {
    font-family: 'Quattrocento', serif;
}

/*footer*/

footer {
    padding: 0 16px;
    background-color: rgb(167, 0, 0);
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    bottom: 0;;
}

footer div a {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 0 8px;
    margin: 0 8px;
    color: #111;
}
footer div a:hover {
    color: rgb(97, 65, 65);
}

/*inicio*/

.inicio {
    background-color: #999;
    padding: 16px;
    
}

.sub-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub2-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sub2-inicio h2{
    font-size: 20px;
    font-family: 'Quattrocento', serif;
    color: #111;
}
.sub2-inicio h3{
    color: #fff;
    background-color: #111;
    font-size: 20px;
    border: solid 2px #111;
    text-align: center;
}   

.sub2-inicio a {
    color: rgb(167, 0, 0);
    font-family: 'Quattrocento', serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sub2-inicio a:hover {
    color: rgb(233, 78, 78);
}

#logo {
    padding-top: 10px;
    height: 200px;
    width: 200px;
    animation-name: entrada-logo;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes entrada-logo {
    0% {   
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }

}

.maps {
    text-align: center;
    padding: 16px;
}
.sub-maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#maps1 {
    width: 300px;
    height: 200px;
}
#maps2 {
    width: 300px;
    height: 200px;
}

#maps1:hover {
    width: 310px;
    height: 210px;
}
#maps2:hover {
    width: 310px;
    height: 210px;
}

/*productos*/

.productos {
    background-color: #999;

}
.prod-titulo {
    color: #111;
    text-align: center;
    padding: 16px;
}
.prod-titulo p a {
    text-decoration: none;
    color: rgb(167, 0, 0);
    font-family: 'Quattrocento', serif;
}
.prod-titulo p a:hover {
    color: rgb(233, 78, 78);
}
.prod-imagenes {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.prod-imagenes h5 {
    font-size: 15px; 
    color: #111;
}

.prod-imagenes img {
    height: 180px;
    width: 150px;
}

#prod-1:hover {
    height: 190px;
    width: 160px;
}
#prod-2:hover {
    height: 190px;
    width: 160px;
}
#prod-3:hover {
    height: 190px;
    width: 160px;
}
#prod-4:hover {
    height: 190px;
    width: 160px;
}
#prod-5:hover {
    height: 190px;
    width: 160px;
}
#prod-6:hover {
    height: 190px;
    width: 160px;
}
#prod-7:hover {
    height: 190px;
    width: 160px;
}
#prod-8:hover {
    height: 190px;
    width: 160px;
}

/*promociones*/

.promociones {
    background-color: #999;

}
.prom-titulo {
    color: #111;
    text-align: center;
    padding: 16px;
}
.prom-titulo p a {
    text-decoration: none;
    color: rgb(167, 0, 0);
    font-family: 'Quattrocento', serif;
}
.prom-titulo p a:hover {
    color: rgb(233, 78, 78);
}
.prom-imagenes {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.prom-imagenes h5 {
    font-size: 15px; 
    color: #111;
}

.prom-imagenes img {
    height: 180px;
    width: 150px;
}

#prom-1:hover {
    height: 190px;
    width: 160px;
}
#prom-2:hover {
    height: 190px;
    width: 160px;
}
#prom-3:hover {
    height: 190px;
    width: 160px;
}
#prom-4:hover {
    height: 190px;
    width: 160px;
}
#prom-5:hover {
    height: 190px;
    width: 160px;
}
#prom-6:hover {
    height: 190px;
    width: 160px;
}
#prom-7:hover {
    height: 190px;
    width: 160px;
}
#prom-8:hover {
    height: 190px;
    width: 160px;
}