/*navegador*/
.contenedor-nav {
    padding: 4px;
    background-color: rgb(167, 0, 0);

}
.contenedor-nav h1{
    
    font-family: 'Kaushan Script', cursive;
    color: #111;
    text-shadow: 0 0px 15px #fff;
    font-size: 30px;
    text-align: center;
}

.menu {
    font-family: 'Quattrocento', serif;
}

#nav-1:hover {
    color: #999;
    font-size: 20px;
}
.nav-responsive {
    display: none;
}
/*inicio*/

.inicio {
    background-color: #999;
    padding: 16px;
    
}

.sub-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub2-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sub2-inicio h2{
    font-size: 20px;
    font-family: 'Quattrocento', serif;
    color: #111;
}
.sub2-inicio h3{
    color: #fff;
    background-color: #111;
    font-size: 20px;
    border: solid 2px #111;
    text-align: center;
    
}   

.sub2-inicio a {
    color: rgb(167, 0, 0);
    font-family: 'Quattrocento', serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.sub2-inicio a:hover {
    color: rgb(233, 78, 78);
}

#logo {
    padding-top: 24px;
    height: 200px;
    width: 200px;
    animation-name: mov-logo;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes mov-logo {
    0% {   
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }

}

.maps {
    text-align: center;
    padding: 16px;
}
.maps h3 {
    padding: 16px 0;
}
.sub-maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sub-maps div h4{
    padding-top: 16px;
}
#ubi-maps {
    width: 300px;
    height: 200px;
}

#ubi-maps:hover {
    width: 310px;
    height: 210px;
}


/*productos*/

.productos {
    background-color: #999;

}
.prod-titulo {
    color: #111;
    text-align: center;
    padding: 16px;
}
.prod-titulo p a {
    text-decoration: none;
    color: rgb(167, 0, 0);
    font-family: 'Quattrocento', serif;
}
.prod-titulo p a:hover {
    color: rgb(233, 78, 78);
}
.prod-imagenes {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

}
.prod-imagenes h5 {
    font-size: 15px; 
    color: #111;
    font-family: 'Quattrocento', serif;
}

.prod-imagenes img {
    height: 180px;
    width: 150px;
}

#prod-img:hover {
    height: 190px;
    width: 160px;
}


/*promociones*/

.promociones {
    background-color: #999;

}
.prom-titulo {
    color: #111;
    text-align: center;
    padding: 16px;
}
.prom-titulo p a {
    text-decoration: none;
    color: rgb(167, 0, 0);
    font-family: 'Quattrocento', serif;
}
.prom-titulo p a:hover {
    color: rgb(233, 78, 78);
}
.prom-imagenes {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.prom-imagenes h5 {
    font-size: 15px; 
    color: #111;
    font-family: 'Quattrocento', serif;
}

.prom-imagenes img {
    height: 180px;
    width: 150px;
}

#prom-img:hover {
    height: 190px;
    width: 160px;
}

/*registro*/

.registro {
    background-color: #999;
    padding: 16px;
    
    height: 750px;


}
.reg-titulo {
    text-align: center;
    font-family: 'Quattrocento', serif;
    
}


.reg-titulo h4 {
    font-size: 16px;
}

.cont-form {
    display: flex;
    justify-content: center;
}

.formulario {
    padding-top: 30px;
    
    max-height: 200px;
    max-width: 400px;

    
}

.registro p{
    color: #111;
    text-align: center;
    font-family: 'Quattrocento', serif;
}
.registro p a{
    color: rgb(167, 0, 0);
}
.registro p a:hover {
    color: rgb(233, 41, 41);
}
.form-correo {
    color: #111;
    font-family: 'Quattrocento', serif;
}

.cont-boton {
    text-align: center;
    padding: 16px;
}
.boton {
    background-color: rgb(167, 0, 0);
    color: #fff;
    
}
.boton:hover {
    background-color: rgb(233, 41, 41);
}

.registrarse {
    transform: translateY(150px);
    padding-top: 16px;
}

.cont-logo {
    text-align: center;
    transform: translateY(140px);
}

#reg-logo {
    padding-top: 10px;
    height: 200px;
    width: 200px;
    animation-name: mov-logo-reg;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes mov-logo-reg {
    0% {   
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }

}

/*carrito*/

.carrito {
    background-color: #999;
    
    text-align: center;
    padding-top: 24px;
}

.tit-carrito h2 {
    color: #111;
    font-family: 'Quattrocento', serif;
}

.cont-tarjeta {
    padding: 16px;
    
    display: inline-block;
    align-content: center;
}
.card {
    padding-top: 16px;
    text-align: center;
    background-color: rgb(71, 16, 16);
    color: #fff;
}
.card div a{
    color: rgb(245, 158, 158);
    text-decoration: none;
}
.card div a:hover {
    color: rgb(255, 88, 88);
}

.tit-carrito img {
    height: 150px;
    width: 280px;
    animation-name: entrada-carrito;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes entrada-carrito {
    0% {
        transform: translateX(-300px);
    }
    85% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
    
}
.recomendaciones {
    padding: 16px;
    font-family: 'Quattrocento', serif;
}

.prod-reco {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
#reco-img {
    height: 180px;
    width: 150px;
    padding: 16px;
}

#reco-img:hover {
    height: 190px;
    width: 160px;
}

.prod-reco h5{
    font-size: 15px; 
    color: #111;
    font-family: 'Quattrocento', serif;
}

/*footer*/

footer {
    padding: 0 16px;
    background-color: rgb(167, 0, 0);
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 100%;
    bottom: 0;
}

footer div a {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 0 8px;
    margin: 0 8px;
    color: #111;
}
footer div a:hover {
    color: rgb(97, 65, 65);
}

/*pagina responsive*/

@media screen and (min-width:720px) {
    
    /*navegador*/
    .contenedor-nav {
        display: none;
    }

    .nav-responsive {
        padding: 16px;
        background-color: rgb(167, 0, 0);
        color: #111;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }


    .nav-responsive h1{
        font-family: 'Kaushan Script', cursive;
        text-shadow: 0 0px 15px #fff;
    }
    
    .nav-responsive a {
        text-decoration: none;
        list-style-type: none;

        display: inline-block;
        padding: 8px;
        margin: 0 4px;
        font-family: 'Quattrocento', serif;
        text-decoration: none;
        color: #111;
    }

    .nav-responsive a:hover {
        color: rgb(199, 120, 120);
    }

    #nav-resp-1{
        color: #fff;
    }
    #nav-resp-2{
        color: #fff;
    }
    #nav-resp-3{
        color: #fff;
    }
    #nav-resp-4{
        color: #fff;
    }
    #nav-resp-5{
        color: #fff;
    }

    
    /*inicio*/
    
    .sub-maps {
        flex-direction: row;
        justify-content: space-around;

    }
    
    #ubi-maps:hover {
        width: 315px;
        height: 215px;
    }
    
    /*productos*/

    .prod-titulo h4{
        font-size: 25px;
    }
    .prod-titulo p{
        font-size: 20px;
    }
    
    .prod-imagenes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .prod-imagenes img {
        height: 280px;
        width: 260px;
        padding: 16px;
    }

    #prod-img:hover {
        height: 295px;
        width: 275px;
    }
    
    /*promociones*/

    .prom-titulo h4{
        font-size: 25px;
    }
    .prom-titulo p{
        font-size: 20px;
    }

    .prom-imagenes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
    .prom-imagenes h5 {
        font-size: 20px; 
    }

    .prom-imagenes img {
        height: 280px;
        width: 260px;
        padding: 16px;
    }

    #prom-img:hover {
        height: 295px;
        width: 275px;
    }

     /*carrito*/

    @keyframes entrada-carrito {
        0% {
            transform: translateX(-500px);
        }
        85% {
            transform: translateX(10px);
        }
        100% {
            transform: translateX(0);
        }
        
    }
    
    .recomendaciones h5 {
        font-size: 20px; 
    }

    .prod-reco {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
    

    #reco-img {
        height: 280px;
        width: 260px;
        padding: 16px;
    }

    #reco-img:hover {
        height: 295px;
        width: 275px;
    }

    /*registro*/
    .reg-titulo h3{
        font-size: 30px;
        padding: 16px;
    }
    .registrarse {
        font-size: 15px;
    }
}

@media screen and (min-width:1000px) {
    
    /*inicio*/
    .sub-inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .sub2-inicio h2{
        font-size: 25px;

    }
    .sub2-inicio h3{
        font-size: 28px;
        
    }   
    
    .sub2-inicio a {
       font-size: 20px;
        
    }
    
    #ubi-maps {
        width: 400px;
        height: 300px;
    }
    #ubi-maps:hover {
        width: 415px;
        height: 315px;
    }

    /*carrito*/

    .cont-carrito {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    
    @keyframes entrada-carrito {
        0% {
            transform: translateX(-300px);
        }
        85% {
            transform: translateX(10px);
        }
        100% {
            transform: translateX(0);
        }
        
    }
    
    .recomendaciones h5 {
        font-size: 20px; 
        
    }

    #reco-img {
        height: 280px;
        width: 260px;
        padding: 16px;
    }

    #reco-img:hover {
        height: 295px;
        width: 275px;
    }

    /*registro*/

    .registro {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    
    }
    
    
    #reg-logo {
        
        height: 270px;
        width: 270px;
        
    }

}